.in{
    height: 200px;
    width: 800px;
    margin: auto;
}
.y {
    width: 30px;
}
.f {
    height: 300px;
    width: 700px;
    margin: auto;
}.get {
    display: inline-block;
    width: 70px;
    height: 20px;
    background-color: green;
}